@model List<LaboratorioPWA.Models.juego>
@{
    ViewBag.Title = "Index";
}

<div class="table-responsive">
    <table class="table">
        <thead class="bg-dark text-white text-center">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Portada
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Existencias
                </th>
                <th>
                    Categoria
                </th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.idjuego)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.nomJuego)
                </td>
                <td class="text-center">
                    <img src=@Url.Content(item.imagen) width="100" height="150" />
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.existencias)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.categoria.nomCategoria)
                </td>
            </tr>
        }

    </table>
</div>


